<main>
    <link rel="stylesheet" href="css/cadastro.css" />
    <section>
        <form id="cadastroForm" action="http://localhost:8080/cadastrar" method="post">
            <div class="cadastro">
                <h1>Dynamic FIT</h1>
                <img src="image/images.jpeg.png">

                <div class="form-group">
                    <label for="nome">Nome: </label>
                    <input type="text" id="nome" name="nome" required>
                </div>

                <div class="form-group">
                    <label for="cpf">CPF: </label>
                    <input type="text" id="cpf" name="cpf" required>
                </div>

                <div class="form-group">
                    <label for="email">Email: </label>
                    <input type="email" id="email" name="email" required>
                </div>

                <div class="form-group">
                    <label for="altura">Altura em cm: </label>
                    <input type="text" id="altura" name="altura_em_cm" required>
                </div>

                <div class="form-group">
                    <label for="peso">Peso em kg: </label>
                    <input type="text" id="peso" name="peso_em_kg" required>
                </div>

                <button type="submit">Cadastrar-se</button>
            </div>
        </form>
    </section>
    <script src="javascript/script.js"></script>
</main>
