<main>
    <link rel="stylesheet" href="css/index.css" />
    <div class="backgroundCinza">
      <h1 class="title">Catraca da Academia</h1>

        <div class="btnContainer" >
            <button id="btnCadastro">Entrada</button>
            <button id="btnLogin">Saída</button>
            <a href="/loginRelatorio">
                <button id="btnrelatorio">Relatório</button>
            </a>
        </div>
    </div>
<main>