<main>
    <link rel="stylesheet" href="css/index.css" />
    <div class="backgroundCinza">
      <h1 class="title">Catraca da Academia</h1>

        <div class="btnContainer" >
            <button id="btnentrada">Entrada</button>
            <button id="btnsaida">Saída</button>
            <button id="btnrelatorio">Relatório</button>
        </div>
    </div>
    <script src="../js/catraca.js"></script>
<main>
