<main>
    <link rel="stylesheet" href="/css/catraca.css" />
    <div class="backgroundCinza">
        <h1 class="title">Catraca da Academia</h1>
        
        <div class="cadastro">
            <label for="matricula" type="label">Matrícula: </label>
            <input type="text" id="matricula" name="matricula" required>
        </div>
        <div class="btnContainer">
            <button id="btnEntrada" class="btn-entrada">Entrada</button>
            <button id="btnSaida" class="btn-saida">Saída</button>
        </div>
    </div>
    <script src="../js/catraca.js"></script>
</main>