<main>
    <link rel="stylesheet" href="css/index.css" />
    <div class="backgroundCinza">
      <h1 class="title">Catraca da Academia</h1>

        <div class="btnContainer" >
            <form id="entrada" method="POST" action="localhost:8080/registroentrada">
                <button onclick= "getCurrentDateTime()" type="submit">Entrada</button>
            </form>
            <form id="saida" method="POST" action="localhost:8080/registrosaida">
                <button id="btnsaida">Saída</button>
            </form>
            <a href="/loginRelatorio">
                <button id="btnrelatorio">Relatório</button>
            </a>
        </div>
    </div>
    <script src="../js/catraca.js"></script>
<main>
