<main>
    <link rel="stylesheet" href="css/index.css" />
    <div class="backgroundCinza">
      <h1 class="title">Sistema Gerencial</h1>

        <div class="btnContainer">
          <a href="/gerenciamentosemanal">
            <button id="btnCadastro">Relatório Semanal</button>
          </a>
          <a href="/gerenciamentototal">
            <button id="btnLogin">Relatório Total</button>
          </a>
        </div>
    </div>
<main>