<main>
    <link rel="stylesheet" href="css/index.css" />
    <div class="backgroundCinza">
      <h1 class="title">Bem-vindo a Dynamic Fit</h1>

         <div class="btnContainer" >
          <a href="/cadastro">
            <button id="btnCadastro">Cadastro</button>
          </a>
          <button id="btnLogin">Entrada & saída</button>
          <button id="btnrelatorio">Relatório</button>
        </div>
    </div>
<main>