<main>
    <link rel="stylesheet" href="css/index.css" />
    <div class="backgroundCinza">
      <h1 class="title">Bem-vindo a Dynamic Fit</h1>

        <div class="btnContainer">
          <a href="/cadastro">
            <button id="btnCadastro">Cadastro</button>
          </a>
          <a href="/catraca">
            <button id="btnLogin">Entrada & saida</button>
          </a>
          <a href="/loginRelatorio">
              <button id="btnrelatorio">Relatório</button>
          </a>
        </div>
    </div>
<main>