<main>
    <link rel="stylesheet" href="css/loginRelatorio.css" />
    <div class="cadastro">
        <h1 class="title">Login para Relatório</h1>

        <form action="/relatorioAluno" method="post" id="cadastroForm">
    
                <label for="matricula">Matrícula: </label>
                <input type="text" id="matricula" name="matricula" required>
                <button type="submit" class="submitButton">Acessar Relatório</button>
        </form>
    </div>
</main>
