<main>
  <link rel="stylesheet" href="css/gerente.css" />
  <div class="backgroundCinza">
    <h1 class="title">Meu Relatório Semanal</h1>

    <div class="container">
      <div class="row">
        <div class="product-card">
          <div class="card">
            <div class="text-content">
              <p><strong>Matrícula:</strong> {{MATRICULA}}</p>
              <p><strong>Nome:</strong> {{NOME}}</p>
              <p><strong>Horas treinadas:</strong> {{HORAS_SEMANAIS}}</p>
              <p><strong>Classificação:</strong> {{CLASSIFICACAO_SEMANAL}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

